h4 {
  font-size: 1.2rem;
}

.avatar {
  cursor : pointer;
}

.modal-footer{
  justify-content : center;
}

button a, button a:hover {
  text-decoration: none;
  color: #fff;
}

.center {
  text-align: center;
}

// 災害新規登録
.disaster_create_block, .disaster_confirm_block {
  margin: 1rem 0 0 0;
  padding: 1rem 0 0 0;
  div .text-align-r {
    text-align: right;
    margin-right: 0.5rem;
  }
  div .text-align-l {
    text-align: left;
  }
}
.disaster_create_block {
  border: thin solid #ffe4e1;
}

#users-table th {
  min-width: 260px;
}

// ユーザー安否確認一覧
.disaster_block {
  margin: 3rem 0 2rem 0;
  .text-align-r {
    text-align: right;
    margin-top: 0.3rem;
  }
  .text-align-c {
    text-align: center;
    margin: 0;
  }
  .text-align-l {
    text-align: left;
    margin-left: 2rem;
  }
}
/* DataTablesのフィルタリングのためのレイアウト */
tfoot {
    display: table-header-group;
}

//ユーザー安否登録・変更
.safety_name_block {
  .user-block{
    img, p {
      display: inline-block;
    }
    p {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  } 
}
.safety_edit_block {
  margin: 2rem 0 0 0;
}
.safety_contact_block {
  margin: 1.5rem 0 0 0;
}

#waku-1, #waku-2 {
  border: thin solid #ffe4e1;
  padding: 0.5rem;
}
#waku-1 {
  border-right: none;
}
#waku-2 {
  border-left: none;
}

// link_to deleteメソッドが動かない対応
.btn-link-to {
  border: none;
  background-color: transparent;
  color: #007BFF;
}
.btn-link-to:hover {
  text-decoration: underline;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* スマートフォン（縦 sm）以下（576px未満）向け start 　　　　*/
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
@media (max-width: 577px) {

.navbar-brand {
 font-size: 120%;
}
h1 {
 font-size: 160%;
}
h3 {
 font-size: 100%;
}
h4 {
 font-size: 90%;
}

// 災害新規登録
.disaster_create_block, .disaster_confirm_block {
  margin: 0 0 1rem 0;
  padding: 0 0 0.5rem 0;
  div .text-align-r, div .text-align-l {
    text-align: center;
    margin: 0;
  }
  .lbl-name {
    margin: 0;
  }
}

// 災害登録確認
.disaster_confirm_block {
  margin: 1rem 0 0 0;
}

// ユーザー安否確認一覧
.disaster_block {
  margin: 1rem 0 0 0;
  .text-align-r, .text-align-l {
    text-align: center;
  }
  .text-align-l {
    margin-left: 0;
  }
}
.safety_index_block {
  margin: 0;
  padding: 0;
  tfoot {
    display: none;
  }
}
/* DataTablesのフィルタリングのためのレイアウト */
#filter-box {
  margin-top: 1rem;
  padding: 0.5rem;
  p {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
  }
  select {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }
}

//ユーザー安否登録・変更
.disaster_block {
  div {
    margin: 0.5rem 0 0 0;
  }
}

.safety_name_block {
  margin: 1rem auto 0 auto;
}
#waku-1, #waku-2 {
  border: thin solid #ffe4e1;
  padding: 0.5rem;
}
#waku-1 {
  border-bottom: none;
}
#waku-2 {
  border-top: none;
}


}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* スマートフォン（縦 sm）以下（576px未満）向け end   　　　　*/
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

